<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">

      <div *ngFor="let sub of subs | keyvalue">
        <h5 style="display: inline;">{{sub?.key}}</h5><hr/>

        <div style="padding-left: 3%; padding-right: 3%;">
          <div class="row" *ngFor="let arr of sub?.value">
            <div class="col-sm md-auto grid-cell" *ngFor="let val of arr">
              <a [routerLink]="['/board/' + val?.url + '/list']">{{val.title}}</a>
            </div>
          </div>
        </div>

        <br/><br/><br/>
      </div>

    </div>
  </div>
</section>

<section></section>
