<!-- element for representing the location of the post to be scrolled -->
<span style="display: hidden;" #postLocation></span>

<!-- section for a post -->
<section *ngIf="num != 'list'" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4 style="display: inline;">{{content?.title}}</h4>
      <span style="float: right; text-align: right; font-size: 80%;">
        <span class="toProfile" (click)="funcService.openInfoWindow(content?.userid)">{{content?.nickname}}</span><br/>{{content?.writedate}}
      </span>
      <hr/>

      <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ENGINE (GAME) ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
      <div class="engine-layout">

        <!-- PHASE-CONTENT -->
        <div class="stage-content" [innerHTML]="playService?.phase?.content | safe"></div>

        <!-- CHOICES -->
        <table style="width: 100%;" *ngIf="!playService.end">
          <tbody *ngFor="let choice of playService?.phase?.choice">
            <tr (click)="playService.select(choice?.set_param)" style="height: 50px;">
              <td class="mdl-data-table__cell--non-numeric stage-choice">{{choice?.content}}</td>
            </tr>
          </tbody>
        </table>

        <!-- END -->
        <table *ngIf="playService.end" class="mdl-data-table mdl-js-data-table" style="width: 100%;">
          <tr>
            <td class="mdl-data-table__cell--non-numeric">THE END.</td>
            <td>점수 : 얼마얼마</td>
          </tr>
          <tr>
            <td colspan="2"><button mat-button (click)="playService.replay()" style="float: right;">다시하기</button></td>
          </tr>
        </table>

        <!-- SHOW PARAMETERS -->
        <div class="row align-items-center" *ngFor="let arr of playService?.paramArr">
          <div class="col-sm grid-cell" *ngFor="let val of arr">
            <span *ngIf="val?.value?.visible">
              {{val?.key}}<span>: </span>{{val?.value?.value}}
            </span>
          </div>
        </div>

      </div>
      <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ENGINE (GAME) ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->

      <br/><br/>
      <div>{{content?.content}}</div>
      <br/><br/>
      <div *ngIf="content?.from" style="color: grey; font-size: 85%;">
        - 이 게임은 <span style="cursor: pointer; font-weight: bold;" (click)="funcService.openInfoWindow(content?.from?.userid)">{{content.from.nickname}}</span> 님의 <a style="color: grey; font-weight: bold;" [routerLink]="['/game/' + content?.from?.game]">{{content.from.title}}</a> 으로부터 참조되었습니다.
        <br/><br/>
      </div>

      <!-- normal user -->
      <table class="recommends" *ngIf="user?.userid != content?.userid && user?.userid != 'admin'">
        <tr>
          <td>
            <button mat-raised-button color="primary" (click)="onRecommend(true)">
              추천 {{content?.recommend}}
            </button>
          </td>
          <td>
            <button mat-raised-button color="accent" (click)="onRecommend(false)">
              비추천 {{content?.unrecommend}}
            </button>
          </td>
        </tr>
      </table>

      <!-- writer -->
      <table class="recommends" *ngIf="authService.loggedIn() && user?.userid == content?.userid && user?.userid != 'admin'">
        <tr>
          <td>
            <button mat-raised-button color="primary" (click)="onRecommend(true)">
              추천 {{content?.recommend}}
            </button>
          </td>
          <td>
            <button mat-raised-button color="accent" (click)="onRecommend(false)">
              비추천 {{content?.unrecommend}}
            </button>
          </td>
          <td>
            <button mat-raised-button
              *ngIf="content?.boardRequest == 0 && (content?.recommend - content?.unrecommend) >= 1"
              (click)="requestBoard()">
              게시판 생성 요청
            </button>
          </td>
        </tr>
      </table>

      <!-- admin -->
      <table class="recommends" *ngIf="authService.loggedIn() && user?.userid == 'admin'">
        <tr>
          <td>
            <button mat-raised-button color="primary" (click)="onRecommend(true)">
              추천 {{content?.recommend}}
            </button>
          </td>
          <td>
            <button mat-raised-button color="accent" (click)="onRecommend(false)">
              비추천 {{content?.unrecommend}}
            </button>
          </td>
          <td>
            <button mat-raised-button
              *ngIf="content?.boardRequest == 1" (click)="acceptBoard()">
              게시판 생성 요청 수락
            </button>
          </td>
        </tr>
      </table>

      <br/><hr/>

      <!-- ############### table for comments ############### -->
      <table style="width: 96%; margin: auto;">
        <tbody *ngFor="let comment of content?.comment">
          <tr>
            <td style="width: 15%;">
              <img [attr.src]="'images/profile/' + comment.userid" class="profileImage" />
            </td>
            <td>
              <span style="font-size: 80%;">
                <span class="toProfile" (click)="funcService.openInfoWindow(comment?.userid)">{{comment?.nickname}}</span> &nbsp;|&nbsp; 
                {{comment?.writedate}}
                <span *ngIf="comment?.userid == user?.userid || user?.userid == 'admin'"> &nbsp;|&nbsp; 
                  <span style="cursor: pointer;" (click)="onRemoveComment(comment.num)">삭제</span>
                </span>
              </span>
              <pre class="content writerText" *ngIf="comment?.userid == content?.userid" [innerHTML]="comment?.comment"></pre>
              <pre class="content" *ngIf="comment?.userid != content?.userid" [innerHTML]="comment?.comment"></pre>
              <br/>
            </td>
          </tr>
        </tbody>
      </table><br/>
      <!-- ############### table for comments ############### -->

      <!-- ############### writing area ############### -->
      <form *ngIf="authService.loggedIn()" (submit)="onWriteComment()"><hr *ngIf="content?.comment?.length > 0" />
        <table style="width: 96%; margin: auto;">
          <tr style="text-align: center;">

            <td rowspan="2" style="width: 85%;">
              <mat-form-field appearance="outline" style="width: 100%; height: 100%;">
                <mat-label>댓글을 작성해주세요.</mat-label>
                <textarea matInput placeholder="" rows="3" name="cmtWrite"
                  [formControl]="cmtWrite" [matAutocomplete]="auto"></textarea>
                <mat-autocomplete #auto>
                  <!-- <mat-option *ngFor="let ct of filteredOptions | async" [value]="'TO::' + ct?.nickname" (onclick)="setCmtTo(ct)">
                    {{ct.nickname}} [{{ct.userid}}]
                  </mat-option> -->
                </mat-autocomplete>
              </mat-form-field>
            </td>

            <td style="text-align: center; padding-bottom: 3%;">
              <button mat-raised-button type="submit" style="width: 60%;">작성</button>
            </td>

          </tr>
        </table>
      </form>
      <!-- ############### writing area ############### -->

    </div>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="aboutPost">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #aboutPost>
    <button mat-menu-item *ngIf="content?.board && content?.board != ''" [routerLink]="['/board/' + content?.board + '/list']">
      <span>게시판으로 이동</span>
    </button>
    <button mat-menu-item (click)="viewBlock()">
      <span>블록 보기</span>
    </button>
    <button mat-menu-item *ngIf="authService.loggedIn()" (click)="toMyTempList()">
      <span>내 임시저장으로 복사</span>
    </button>
    <button mat-menu-item *ngIf="content?.userid == user?.userid || user?.userid == 'admin'" (click)="onRemovePost()">
      <span>삭제</span>
    </button>
  </mat-menu>
</section>

<!-- section for a board -->
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>게임게시판</h4>
      <hr/>
      
      <!-- for large display -->
      <table class="mdl-data-table mdl-js-data-table mdl-layout--large-screen-only" style="margin: auto; width: 98%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">날짜</th>
            <th class="mdl-data-table__cell--non-numeric">제목</th>
            <th>글쓴이</th>
            <th>조회수</th>
            <th>추천</th>
          </tr>
        </thead>
        <tbody *ngFor="let val of contents | slice:pagingFrom:pagingTo; let i=index">
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{extractDate(val.writedate)}}</td>
            <td class="mdl-data-table__cell--non-numeric">
              <a [routerLink]="['/game/' + val?._id]"
                style="color: black; text-decoration: none; font-weight: 400;"
                (click)="scrollToPost(postLocation)">{{val.title}}</a>&nbsp;
              <span *ngIf="val.comment.length > 0" style="font-size: 85%; color: grey;">[{{val.comment.length}}]</span>
            </td>
            <td>
              <span class="toProfile" (click)="funcService.openInfoWindow(val?.userid)">{{val.nickname}}</span>
            </td>
            <td>{{val.hit}}</td>
            <td>{{val.recommend}}<span>/</span>{{val.unrecommend}}</td>
          </tr>
        </tbody>
      </table>

      <!-- for small display -->
      <table class="mdl-data-table mdl-js-data-table mdl-layout--small-screen-only" style="margin: auto; width: 98%;">
        <tbody *ngFor="let val of contents | slice:pagingFrom:pagingTo; let i=index">
          <tr>
            <td class="mdl-data-table__cell--non-numeric"
              [routerLink]="['/board/' + val?._id]" (click)="scrollToPost(postLocation)">
              <div>
                {{val.title}}
                <span *ngIf="val.comment.length > 0" style="color: grey;">[{{val.comment.length}}]</span>
              </div>
              <div style="font-size: 85%; margin-top: 1%;">
                <span>{{val.nickname}}</span>&nbsp;&nbsp;&nbsp;
                <span>조회 {{val.hit}}</span>&nbsp;&nbsp;&nbsp;
                <span>추천 {{val.recommend}}<span>/</span>{{val.unrecommend}}</span>
              </div>
            </td>
            <td>{{extractDate(val.writedate)}}</td>
          </tr>
        </tbody>
      </table><br/>

      <mat-paginator [length]="contents?.length" [pageSize]="pagingSize" (page)="paging($event)">
      </mat-paginator>

      <div *ngIf="authService.loggedIn()" style="float: right;">
        <a mat-raised-button [routerLink]="['/tool']">작성</a>
      </div>
    </div>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="board">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #board>
    <button mat-menu-item *ngIf="authService.loggedIn()">
      <span>즐겨찾는 게시판 설정</span>
    </button>
  </mat-menu>
</section>

<section></section>
