extends layout2

block content
    div#workspaceFantasy(style='height: 1000px; width: 100%;')

    script.
        let workspaceFantasy = Blockly.inject('workspaceFantasy', {
            scrollbars: true,
            readOnly: true
        });
        let block = !{JSON.stringify(block)};
        let xml = Blockly.Xml.textToDom(block);
        Blockly.Xml.domToWorkspace(xml, workspaceFantasy);
