extends layout2

block content
    div#workspaceFantasy(style='height: 1500px; width: 100%;')

    script.
        let workspaceFantasy = Blockly.inject('workspaceFantasy', {
            scrollbars: true,
            readOnly: true
        });
        let blocks = !{JSON.stringify(block)};
        for (let block of blocks) {
            Blockly.Events.fromJson(block, workspaceFantasy).run(true);
        }
