extends layout2
block content

    div#workspaceFantasy(style='height: 550px; width: 100%;')
    br

    div(style="text-align: center;")
        p#msg
        div(class="mdl-textfield mdl-js-textfield")
            input(class="mdl-textfield__input", type="text", id="t1", placeholder="HTML 태그")
        span &nbsp;&nbsp;&nbsp;
        button(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", style='width: 100px; height: 30px;', onclick='openEditor()') 에디터
        span &nbsp;&nbsp;&nbsp;
        button#save(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", style='width: 100px; height: 30px;', onclick='save()') 저장

    xml#toolbox(style='display: none')
        category(name='big_one')
            block(type='stage')
            block(type='phase')
            block(type='choice')
        category(name='small_one')
            block(type='text')
            block(type='math_number')
            block(type='condition')
            block(type='parameter')

    //- div#demo(style='height: 550px; width: 100%;')
    
    xml#startBlocks(style="display: none;")
        block(type="game", inline="false", x="20", y="20")

    div#tempData(style="display: none;") #{temp}

    script.
        var workspaceFantasy = Blockly.inject('workspaceFantasy', {
            media: '../resources/blockly/google-blockly-82871b3/media/',
            toolbox: document.getElementById('toolbox')
        });
        Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'), workspaceFantasy);

        const msg = document.getElementById("msg");
        function setMessage(text, color, time) {
            msg.innerHTML = text;
            msg.style.color = color;
            setTimeout(() => { msg.innerHTML = ''; }, time);
        }

        // test
        //- let demo = Blockly.inject('demo', {
        //-     media: '../resources/blockly/google-blockly-82871b3/media/',
        //-     toolbox: document.getElementById('toolbox')
        //- });

        let tempData = document.getElementById('tempData').innerHTML;
        if ( tempData != '' ) {
            tempData = JSON.parse(tempData);
            for (let block of tempData.block) {
                Blockly.Events.fromJson(block, workspaceFantasy).run(true);
            }
            //- for (let block of tempData.block) {
            //-     Blockly.Events.fromJson(block, demo).run(true);
            //- }
        }

        workspaceFantasy.addChangeListener(copyEvent);
        function copyEvent(event) {
            if ( event.type == Blockly.Events.UI ) return;

            let block = { block: event.toJson() };
            if ( block.block.type == 'finished_loading' ) return;

            let xhr = new XMLHttpRequest();
            xhr.open('POST', './blockEvents');
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(JSON.stringify(block));
        }

        function save() {
            let code = Blockly.JavaScript.workspaceToCode(workspaceFantasy);
            //- title(string), stage(array), param(array), score(string)

            try {
                code = JSON.parse(code);
                code = JSON.stringify(code);
            } catch (e) {
                setMessage("에러가 발생하였습니다: " + e, "red", 2000);
                return false;
            }

            let xhr = new XMLHttpRequest();
            xhr.open('POST', './save');
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(code);

            xhr.addEventListener('load', () => {
                let result = JSON.parse(xhr.responseText);
                if ( result.success ) {
                    setMessage("저장되었습니다.", "blue", 1500);
                }
                else {
                    setMessage(result.msg, "red", 2000);
                }
            });
        }

        function openEditor() {
            let w = 950;
            let h = 700;
            
            let x = (window.screen.width / 2) - (w / 2);
            let y = (window.screen.height / 2) - (h / 2);

            let tags = document.getElementById("t1").value;

            let option = "width=" + w +", height=" + h + ", resizable=no, scrollbars=no, status=no, left=" + x + ", top=" + y + ", screenX=" + x + ", screenY=" + y;
            window.open("./editor?tags=" + tags, "", option);
        }
