extends layout2
block content

    div#blocklyDiv(style='height: 500px; width: 100%;')
    br

    div(style="text-align: center;")
        div(class="mdl-textfield mdl-js-textfield")
            input(class="mdl-textfield__input", type="text", id="t1", placeholder="HTML 태그")
        span &nbsp;&nbsp;&nbsp;
        button(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", style='width: 100px; height: 30px;', onclick='openEditor()') 에디터
        span &nbsp;&nbsp;&nbsp;
        button#save(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", style='width: 100px; height: 30px;', onclick='save()') 저장

    xml#toolbox(style='display: none')
        category(name='big_one')
            block(type='game')
            block(type='stage')
            block(type='phase')
            block(type='choice')
        category(name='small_one')
            block(type='text')
            block(type='math_number')
            block(type='logic_boolean')
            block(type='condition')
            block(type='set_param')
            block(type='parameter')
        category(name='param', custom='VARIABLE')

    script.
        var demoWorkspace = Blockly.inject('blocklyDiv', {
            media: '../resources/blockly/google-blockly-82871b3/media/',
            toolbox: document.getElementById('toolbox')
        });

        function save() {
            if ( !confirm('저장하시겠습니까?') ) return;
            var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
            //- 'code' is a string, so no need to be stringify or parse

            var xhr = new XMLHttpRequest();
            xhr.open('POST', './save');
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(code);

            xhr.addEventListener('load', () => {
                var result = JSON.parse(xhr.responseText);
                //- codes to handle with result
                if ( result.success ) {
                    // document.getElementById('save') -> disabled
                }
                else {
                    alert('ERROR MESSAGE');
                }
            });
        }

        function openEditor() {
            var w = 950;
            var h = 750;
            
            var x = (window.screen.width / 2) - (w / 2);
            var y = (window.screen.height / 2) - (h / 2);

            var tags = document.getElementById("t1").value;

            var option = "width=" + w +", height=" + h + ", resizable=no, scrollbars=no, status=no, left=" + x + ", top=" + y + ", screenX=" + x + ", screenY=" + y;
            window.open("./editor?tags=" + tags, "", option);
        }
