html, body {
  font-family: 'Ubuntu', 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

pre {
  font-family: gothic;
  font-size: 105%;
}

.content a {
  text-decoration: none;
  color: rgb(0, 105, 151);
}

.content a:hover {
  text-decoration: underline;
}

.posting {
  padding: 1%;
  padding-top: 5%;
  word-wrap: break-word;
}

.posting img {
  height: auto;
  max-width: 100%;
}
.largeInputEle {
  width: 45%;
}

.smallInputEle {
  width: 80%;
}

.toProfile {
  cursor: pointer;
}

.profileImage {
  border: 1px solid black;
  width: 70px;
  height: 70px;
}

.writerText {
  color: red;
}

a:hover {
  text-decoration: none;
}

/* ENGINE ========================================================================== */

.engine-layout {
  padding: 0px;
  margin: 0px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stage-content {
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  padding: 10%;

  border-style: solid;
  border-width: 40px 40px 40px 40px;
  -moz-border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
  -webkit-border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
  -o-border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
  border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
}

.stage-choice {
  /* text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%; */

  /* background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; */

  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url('./images/engine/select_bg_default.png') 10 10 10 10 round round;
  -webkit-border-image: url('./images/engine/select_bg_default.png') 10 10 10 10 round round;
  -o-border-image: url('./images/engine/select_bg_default.png') 10 10 10 10 round round;
  border-image: url('./images/engine/select_bg_default.png') 10 10 10 10 round round;
}

.stage-choice:hover {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url('./images/engine/select_bg_hover.png') 10 10 10 10 round round;
  -webkit-border-image: url('./images/engine/select_bg_hover.png') 10 10 10 10 round round;
  -o-border-image: url('./images/engine/select_bg_hover.png') 10 10 10 10 round round;
  border-image: url('./images/engine/select_bg_hover.png') 10 10 10 10 round round;
}

.stage-choice:active {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url('./images/engine/select_bg_clicked.png') 10 10 10 10 round round;
  -webkit-border-image: url('./images/engine/select_bg_clicked.png') 10 10 10 10 round round;
  -o-border-image: url('./images/engine/select_bg_clicked.png') 10 10 10 10 round round;
  border-image: url('./images/engine/select_bg_clicked.png') 10 10 10 10 round round;
}

.grid-cell {
  background-color: rgb(230, 230, 230);
  height: 40px;
  border-bottom: 1px solid rgb(163, 163, 163);
  border-right: 1px solid rgb(163, 163, 163);
  padding: 10px 40px 10px 40px;
}

.grid-cell:hover {
  background-color: rgb(202, 202, 202);

}

.grid-cell a {
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.grid-cell a:hover {
  font-weight: 400;
}