.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading {
    .logo {
        width: 150px;
        height: 150px;
        background: url(./loading.gif) center center no-repeat;
    }
}
