html, body {
  font-family: 'Ubuntu', 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

pre {
  font-family: gothic;
}

.content a {
  text-decoration: none;
  color: rgb(0, 105, 151);
}

.content a:hover {
  text-decoration: underline;
}

.posting {
  padding: 1%;
  padding-top: 5%;
  word-wrap: break-word;
}

.posting img {
  height: auto;
  max-width: 100%;
}
.largeInputEle {
  width: 45%;
}

.smallInputEle {
  width: 80%;
}

.toProfile {
  cursor: pointer;
}

.profileImage {
  border: 1px solid black;
  width: 70px;
  height: 70px;
}

.writerText {
  color: green;
}

a:hover {
  text-decoration: none;
}

.cmtTable {
  width: 96%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 10px;
}

#header-sm-table td {
  padding-right: 15px;
}

#header-sm-table a {
  color: white;
}

/* FROM & ADDED ========================================================================== */

.original-section {
  border: 1px solid rgb(155, 155, 155);
  width: 100%;
  padding: 10px;
  display: inline-block;
}

.original-from-user {
  cursor: pointer;
}

.original-from-title {
  font-weight: bold;
  color: black;
}

.original-added-title {
  color: black;
  font-weight: bold;
}

/* ENGINE ========================================================================== */

.engine-layout {
  padding: 0px;
  margin: 0px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stage-content {
  padding: 10px;

  border-style: solid;
  border-width: 40px 40px 40px 40px;
  -moz-border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
  -webkit-border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
  -o-border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
  border-image: url('./images/engine/content_bg.png') 40 40 40 40 round round;
}

.stage-content img {
  height: auto;
  max-width: 100%;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.stage-choice {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
/*  margin-bottom: 16px;*/
  transition: all .5s ease;
}

.stage-choice:-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}

.btn--large {
  width: 50%;
}

.btn--radius {
  border-radius: 36px;
}

.grid-cell {
  background-color: rgb(230, 230, 230);
  height: 40px;
  border-bottom: 1px solid rgb(163, 163, 163);
  border-right: 1px solid rgb(163, 163, 163);
  padding: 10px 40px 10px 40px;
}

.grid-cell:hover {
  background-color: rgb(202, 202, 202);

}

.grid-cell a {
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.grid-cell a:hover {
  font-weight: 400;
}