<section *ngIf="user" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4 style="display: inline;">PROFILE &nbsp;-&nbsp; <span (click)="funcService.openInfoWindow(user.userid)" class="toProfile">{{user.userid}}</span></h4>
      <span style="float: right"><img [attr.src]="'images/profile/' + user.userid" class="profileImage"></span>
      <hr/><br/><br/>
      
      <table class="mdl-data-table mdl-js-data-table" style="margin: auto; width: 80%;">
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">아이디</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.userid}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">닉네임</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.nickname}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">이메일</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">한 줄 소개</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.introduction}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">가입일</td>
            <td class="mdl-data-table__cell--non-numeric">{{user.registerdate}}</td>
          </tr>
        </tbody>
      </table>
      <br/><br/>

      <a mat-raised-button [routerLink]="['/modify']" style="float: right;">회원정보수정</a>

    </div>
  </div>
</section>

<section *ngIf="user?.coworkRequest?.length > 0" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>공동작업 요청</h4>
      <hr/>
      
      <table class="mdl-data-table mdl-js-data-table" style="margin: auto; width: 98%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">제목</th>
            <th class="mdl-data-table__cell--non-numeric">요청자</th>
            <th class="mdl-data-table__cell--non-numeric">요청일시</th>
            <th>처리</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of user?.coworkRequest | slice:reqPagingFrom:reqPagingTo;">
            <td class="mdl-data-table__cell--non-numeric">{{val?.title}}</td>
            <td class="mdl-data-table__cell--non-numeric">
              <span class="toProfile" (click)="funcService.openInfoWindow(val?.from?.userid)">{{val?.from?.nickname}}</span>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{val?.requestdate}}</td>
            <td>
              <button mat-button color="primary" (click)="acceptReq(val)">수락</button>
              <button mat-button color="warn" (click)="rejectReq(val)">거절</button>
            </td>
          </tr>
        </tbody>
      </table><br/>

      <mat-paginator [length]="user?.coworkRequest?.length" [pageSize]="pagingSize" (page)="reqPaging($event)">
      </mat-paginator>

    </div>
  </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>내 작업 목록</h4>
      <hr/>
      
      <table class="mdl-data-table mdl-js-data-table" style="margin: auto; width: 98%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">제목</th>
            <th class="mdl-data-table__cell--non-numeric">저장날짜</th>
            <th>관리</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of temps | slice:tempPagingFrom:tempPagingTo;">
            <td class="mdl-data-table__cell--non-numeric">
              <a [routerLink]="['/temp/' + val?._id]"
                style="color: black; text-decoration: none; font-weight: 400;">{{val.title}}</a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{val.savedate}}</td>
            <td>
              <button mat-button color="warn" (click)="removeTemp(val?._id)">삭제</button>
            </td>
          </tr>
        </tbody>
      </table><br/>

      <mat-paginator [length]="temps?.length" [pageSize]="pagingSize" (page)="tempPaging($event)">
      </mat-paginator>

    </div>
  </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>공동작업 목록</h4>
      <hr/>
      
      <table class="mdl-data-table mdl-js-data-table" style="margin: auto; width: 98%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">제목</th>
            <th>저장날짜</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of coworks | slice:coworkPagingFrom:coworkPagingTo;">
            <td class="mdl-data-table__cell--non-numeric">
              <a [routerLink]="['/temp/' + val?._id]"
                style="color: black; text-decoration: none; font-weight: 400;">{{val.title}}</a>
            </td>
            <td>{{val.savedate}}</td>
          </tr>
        </tbody>
      </table><br/>

      <mat-paginator [length]="coworks?.length" [pageSize]="pagingSize" (page)="coworkPaging($event)">
      </mat-paginator>

    </div>
  </div>
</section>

<section></section>
