<div [innerHTML]="iframe | safe"></div>

<!-- game preview section -->
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">

      <h4 style="display: inline;">미리보기</h4>
      <button mat-button class="previewButton"
        (click)="gameOn()"
        matTooltip="게임 적용"
        [matTooltipPosition]="tooltipPosition"
        [matTooltipShowDelay]="showDelay">
        <mat-icon>play_circle_outline</mat-icon>
      </button>
      <button mat-button class="previewButton" *ngIf="set"
        (click)="playService.replay()"
        matTooltip="리플레이"
        [matTooltipPosition]="tooltipPosition"
        [matTooltipShowDelay]="showDelay">
        <mat-icon>autorenew</mat-icon>
      </button>
      <button mat-button class="previewButton" *ngIf="set"
        (click)="delete()"
        matTooltip="저장된 게임 삭제"
        [matTooltipPosition]="tooltipPosition"
        [matTooltipShowDelay]="showDelay">
        <mat-icon>delete</mat-icon>
      </button>
      <hr/>

      <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ENGINE (GAME) ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
      <div class="posting" *ngIf="set">

        <!-- PHASE-CONTENT -->
        <div class="stage-content">{{playService?.phase?.content}}</div>

        <!-- CHOICES -->
        <table style="width: 100%;" *ngIf="!playService.end">
          <tbody *ngFor="let choice of playService?.phase?.choice">
            <tr (click)="playService.select(choice?.set_param)" style="height: 50px;">
              <td class="mdl-data-table__cell--non-numeric stage-choice">{{choice?.content}}</td>
            </tr>
          </tbody>
        </table>

        <!-- END -->
        <table *ngIf="playService.end" class="mdl-data-table mdl-js-data-table" style="width: 100%;">
          <tr>
            <td class="mdl-data-table__cell--non-numeric">THE END.</td>
            <td>점수 : 얼마얼마</td>
          </tr>
          <tr>
            <td colspan="2">
              <button mat-button (click)="playService.replay()" style="float: right;">다시하기</button>
            </td>
          </tr>
        </table>

        <!-- SHOW PARAMETERS -->
        <div class="row align-items-center" *ngFor="let arr of playService?.paramArr">
          <div class="col-sm grid-cell" *ngFor="let val of arr">
            <span *ngIf="val?.value?.visible">
              {{val?.key}}<span>: </span>{{val?.value?.value}}
            </span>
          </div>
        </div>

      </div>
      <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ENGINE (GAME) ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->

    </div>
  </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      
      <form (submit)="onWriteGame()">
        <table style="width: 96%; margin: auto;">
          <tr style="text-align: center;">
            <td rowspan="2" style="width: 85%;">
              <mat-form-field appearance="outline" style="width: 100%; height: 100%;">
                <mat-label>주석</mat-label>
                <textarea matInput placeholder="" rows="3"
                  name="content" [(ngModel)]="content"></textarea>
              </mat-form-field>
            </td>
            <td style="text-align: center; padding-bottom: 3%;">
              <button mat-raised-button type="submit" style="width: 60%;">작성</button>
            </td>
          </tr>
        </table>
      </form>

    </div>
  </div>
</section>
