.nav-link {
    color: black;
    display: block;
    width: 100%;
    padding: 20px;
    padding-left: 12%;
}

.nav-link:hover {
    background-color: rgb(202, 202, 202);
}

.header-sm-icon {
    color: black;
}
