<div class="mdl-demo mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-tabs">
    <!-- <app-navbar></app-navbar> -->

    <!-- header for large display -->
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            
      <!-- spacing -->
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
      
      <!-- title -->
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3 [routerLink]="['/']" style="cursor: pointer; font-family: 'Ubuntu', sans-serif;">RogueWrite</h3>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
          <a *ngIf="!authService.loggedIn()" class="mdl-navigation__link" [routerLink]="['/login']">LOGIN</a>
          <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" [routerLink]="['/profile']">PROFILE</a>
          <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" (click)="onLogoutClick()" href="#">LOGOUT</a>
        </nav>
      </div>
      
      <!-- spacing -->
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>

      <!-- nav bar -->
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a [routerLink]="['/']" class="mdl-layout__tab is-active">HOME</a>
        <a [routerLink]="['/board/free']" class="mdl-layout__tab">자유게시판</a>
        <a href="#features" class="mdl-layout__tab">Details</a>
        <a href="#features" class="mdl-layout__tab">Technology</a>
        <a href="#features" class="mdl-layout__tab">FAQ</a>
      </div>
    </header>

    <!-- header for mobile -->
    <header class="mdl-layout__header--scroll mdl-layout--small-screen-only mdl-color--primary">
      <div class="mdl-layout__header-row">
        <h3 class="mdl-navigation__link" style="font-family: 'Ubuntu', sans-serif;">RogueWrite</h3>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a *ngIf="!authService.loggedIn()" class="mdl-navigation__link" [routerLink]="['/login']">LOGIN</a>
          <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" [routerLink]="['/profile']">PROFILE</a>
          <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" (click)="onLogoutClick()" href="#">LOGOUT</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <span class="mdl-layout__title" style="font-family: 'Ubuntu', sans-serif;">RogueWrite</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">menu1</a>
        <a class="mdl-navigation__link" href="#">menu2</a>
        <a class="mdl-navigation__link" href="#">menu3</a>
        <a class="mdl-navigation__link" href="#">menu4</a>
        <a class="mdl-navigation__link" href="#">menu5</a>
      </nav>
    </div>

    <ng-flash-message></ng-flash-message>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
        <router-outlet></router-outlet>
        <!-- <section></section> -->
      </div>

      <!-- footer -->
      <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer--bottom-section">
          <div class="mdl-logo">
            powered by Project RogueWrite
          </div>
          <ul class="mdl-mega-footer--link-list">
            <li><a target="_blank" href="https://getmdl.io/index.html">MDL</a></li>
            <li><a target="_blank" href="https://material.angular.io/">Angular Material</a></li>
            <li><a target="_blank" href="https://github.com/p9595jh/RogueWrite">Github</a></li>
          </ul>
        </div>
      </footer>
      <!-- footer -->

    </main>
  </div>
</div>
