<ng-flash-message></ng-flash-message>

<div class="mdl-demo mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-tabs">

    <!-- header for large display -->
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary" style="background-color: rgb(143, 143, 226);">
            
      <!-- spacing -->
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
      
      <!-- title -->
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <!-- <h3 [routerLink]="['/']" style="cursor: pointer; font-family: 'Ubuntu', sans-serif;">{{siteName}}</h3> -->
        <img src="/images/title.png" [routerLink]="['/']" style="cursor: pointer; width: 40%; height: auto;" />
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
          <a class="mdl-navigation__link" *ngIf="!authService.loggedIn()" [routerLink]="['/login']">LOGIN</a>
          <a class="mdl-navigation__link" *ngIf="authService.loggedIn()" [routerLink]="['/profile']">PROFILE</a>
          <a class="mdl-navigation__link" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#">LOGOUT</a>
        </nav>
      </div>
      
      <!-- spacing -->
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>

      <!-- nav bar -->
      <nav mat-tab-nav-bar mat-stretch-tabs
        mat-align-tabs="center"
        [color]="'primary'"
        [backgroundColor]="'accent'"
        style="border-bottom-color: black;">
        <a mat-tab-link *ngFor="let link of navLinks"
          (click)="activeLink = link.path"
          [routerLink]="[link.path]"
          [active]="activeLink == link.path">{{link.label}}</a>
      </nav>

    </header>

    <!-- header for mobile -->
    <mat-sidenav-container class="mdl-layout__content">
      <mat-sidenav #sidenav mode="push" style="width: 49%; padding-top: 30px; background-color: rgb(233, 233, 233);">
        <h4 style="font-family: 'Ubuntu', sans-serif; margin: 20px;" [routerLink]="['/']" (click)="sidenav.toggle()">
          {{siteName}}
        </h4><hr/><br/>
        <a class="nav-link" (click)="sidenav.toggle()" *ngFor="let link of navLinks"
          [routerLink]="[link.path]">{{link.label}}</a>
      </mat-sidenav>
      <mat-sidenav-content>
        <header class="mdl-layout__header--scroll mdl-layout--small-screen-only mdl-color--primary">
          <div style="padding-left: 20px;" class="mdl-layout__header-row">
            <mat-icon (click)="sidenav.toggle()">view_headline</mat-icon>
            <img src="/images/title.png" style="height: 100%; width: auto;" [routerLink]="['/']" />
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
              <a *ngIf="!authService.loggedIn()" class="mdl-navigation__link" [routerLink]="['/login']">LOGIN</a>
              <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" [routerLink]="['/profile']">PROFILE</a>
              <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" (click)="onLogoutClick()" href="#">LOGOUT</a>
            </nav>
          </div>
        </header>

        <!-- <main class="mdl-layout__content"> -->
          <div class="mdl-layout__tab-panel is-active" id="overview">
            <br/><br/>
            <router-outlet></router-outlet>
            <br/><br/>
          </div>

          <!-- footer -->
          <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
              <div class="mdl-logo">
                powered by Project RogueWrite
              </div>
              <ul class="mdl-mega-footer--link-list">
                <li><a target="_blank" href="https://getmdl.io/index.html">MDL</a></li>
                <li><a target="_blank" href="https://material.angular.io/">Angular Material</a></li>
                <li><a target="_blank" href="https://github.com/p9595jh/RogueWrite">Github</a></li>
              </ul>
            </div>
          </footer>
          <!-- footer -->

        <!-- </main> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
