<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      
      <div class="temp-tree" *ngFor="let temp of temps">
        <button mat-icon-button (click)="open(temp)">
          <mat-icon *ngIf="!temp?.opened">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="temp?.opened">keyboard_arrow_down</mat-icon>
        </button>
        {{temp?.title}} ({{temp?.savedate}})
        <div *ngIf="temp?.opened" style="padding: 20px;">
          <mat-accordion>
            <mat-expansion-panel style="width: 95%; margin: auto;" *ngFor="let block of temp?.history">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{block?.savedate}}
                </mat-panel-title>
                <mat-panel-description>
                  {{block?.moves}}개의 행동 추가됨
                </mat-panel-description>
              </mat-expansion-panel-header>
    
              <p>
                <b class="toProfile" (click)="funcService.openInfoWindow(coworkerMap?.get(block?.saveby)?.userid)">{{coworkerMap?.get(block?.saveby)?.nickname}}</b> 님에 의해 수정됨.
              </p>
              <button mat-button (click)="viewBlock(temp?._id, block?.num)">블록 보기</button>
              <button mat-button color="primary" (click)="selectBlock(temp?._id, block?.num)">선택</button>
            </mat-expansion-panel>
            
          </mat-accordion>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>글쓰기</h4><hr/>
      <div style="width: 98%; margin: auto;">
        <form (submit)="onWritePost()">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="제목" type="text" name="title" [(ngModel)]="title">
          </mat-form-field>
          <textarea [froalaEditor]="options" [(ngModel)]="content" name="content"></textarea>
          <br/>
          <button mat-raised-button type="submit" style="float: right;">작성</button>
        </form><br/>
      </div>
    </div>
  </div>
</section>
